@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: "Prompt", sans-serif;
}

.player-grid,
.computer-grid {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: antiquewhite;
  .grid-element {
    border: 0.5px solid black;
  }
}
.player-grid {
  background-color: lightblue;
}
.computer-grid {
  background-color: lightcoral;
  cursor: pointer;
}
